{% extends 'base.html' %}
{% block body %}
    {% for plan in plans %}
        <div id='plan-{{ plan.id }}'>
            <h3>{{ plan.legs_friendly }}</h3>
            <div id='plot-{{ plan.id }}' style='width:600px;height:300px;'></div>
            <script type="text/javascript">
            $(function () {
                    var plot_id = '#plot-{{ plan.id }}';
                    var series = {{ series[plan] | safe }};
                    var options = {
                        xaxis: {
                            mode: "time",
                            //minTickSize: [1, "hour"],
                            twelveHourClock: true
                            },
                        selection: {
                            mode: "x"
                        }, 
                        points: {
                            show: true
                        },
                        lines: {
                            show: true
                        },
                        grid: {
                            hoverable: true,
                        },
                        legend: {
                            show: false
                        },
                    };
                    var plotsky = function (extra_options) {
                        $.plot(plot_id, series, $.extend(true, {}, options, extra_options));
                    };
                    plotsky({});

                    $(plot_id).bind("plotselected", function (event, ranges) {
                        var min = ranges.xaxis.from, max = ranges.xaxis.to;
                        if (max - min < 60 * 60 * 1000){
                            plotsky({});
                        } else {
                            plotsky({
                                xaxis: {
                                    min: ranges.xaxis.from,
                                    max: ranges.xaxis.to
                                }
                            });
                        }
                    });

                    function showTooltip(x, y, contents) {
                        $("<div id='tooltip'>" + contents + "</div>").css({
                            position: "absolute",
                            display: "none",
                            top: y + 5,
                            left: x + 5,
                            border: "1px solid #fdd",
                            padding: "2px",
                            "background-color": "#fee",
                            opacity: 0.80
                        }).appendTo("body").fadeIn(200);
                    }

                    $(plot_id).bind("plothover", function (event, pos, item) {
                        if (item) {
                            if (previousPoint != item.dataIndex) {
                                previousPoint = item.dataIndex;

                                $("#tooltip").remove();
                                var x = item.datapoint[0].toFixed(2),
                                y = item.datapoint[1].toFixed(2);

                                showTooltip(item.pageX, item.pageY,
                                    "£" + y + " - " + item.series.label);
                            }
                        } else {
                            $("#tooltip").remove();
                            previousPoint = null;
                        }
                    });

            });
            </script>
        </div>
    {% endfor %}
{% endblock %}
